*{
  margin:0;
  padding:0;
  font-family: Arial;
  box-sizing: border-box;
}

body{
  background:#0f172a;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#020617;
  position:fixed;
  width:100%;
  top:0;
}

nav a{
  color:white;
  margin:15px;
  text-decoration:none;
}

.home{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100vh;
  padding-top:80px;
}

.profile{
  width:300px;
  border-radius:100%;
  border:5px solid #38bdf8;
  height:300px;
  object-fit: cover;
  object-position: center;
}

span{
  color:#38bdf8;
}

button{
  padding:10px 20px;
  background:#38bdf8;
  border:none;
  cursor:pointer;
  margin-top:15px;
}

section{
  padding:80px 10%;
  text-align:center;
}

.skill-box span{
  display:inline-block;
  background:#1e293b;
  padding:15px;
  margin:10px;
  border-radius:10px;
}

.projects{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  transition:0.4s;
}

.card:hover{
  transform:scale(1.1);
  background:#38bdf8;
  color:black;
}

input,textarea{
  width:80%;
  margin:10px;
  padding:10px;
}

@media(max-width:768px){
  .home{
    flex-direction:column;
    text-align:center;
  }
}
.contact-box{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:20px;
  margin-top:30px;
}

.contact-card{
  background:#1e293b;
  padding:25px;
  border-radius:15px;
  transition:0.3s;
}

.contact-card:hover{
  background:#38bdf8;
  color:black;
  transform:scale(1.05);
}

.contact-btn{
  margin-top:30px;
  font-size:18px;
}
